# To change this license header, choose License Headers in Project Properties.
# To change this template file, choose Tools | Templates
# and open the template in the editor.

haddop.dir=your-haddop-directory
spark.app.name=your-app-name
spark.master=your-master-mode